<h1>Chat</h1>

<div #chatDiv id="chat" style="white-space: pre-line" class="chat border p-3 rounded-lg">
  <app-message *ngFor="let msg of listMsgs | async" [oMessage]="msg">
  </app-message>
</div>

<input type="text" [formControl]="nameControl" class="form-control my-4" />
<textarea #text id="msgInput" type="text" rows='1' [formControl]="textControl" (keydown)="Escribiendo($event)" class="form-control my-4"></textarea>

<input type="button" (click)="SendMessage()" value="Enviar" class="btn btn-primary mb-4" />
