<section class="jumbotron">
  <h1>Chat de {{user.name}}</h1>
  <h6 class="my-4">
    A continuación puede ver los mensajes de

    <app-user>
    </app-user>

  </h6>
  
  <div #chatDiv id="chat" class="chat border p-3 rounded-lg">
    <app-message *ngFor="let msg of listMsgs | async" [oMessage]="msg">
    </app-message>
  </div>
 
  <form action="/" method="post" (submit)="sendMessage()">

    <input type="text" class="form-control my-4" [formControl]="nameControl" value="Mario" />

    <textarea #text id="msgInput" type="text" rows='1' [formControl]="textControl"
              (keydown)="writting($event)" class="form-control my-4"
              placeholder="escriba su mensaje"></textarea>

    <button type="submit" class="btn btn-primary mb-4">Enviar</button>

  </form>
</section>
