textarea {
  display: block;
  min-height: 38px;
  max-height: 79px;
}

.chat {
  height: 200px;
  overflow-y: scroll;
}

  .chat p:not(:last-child) {
    margin-bottom: 1rem;
  }

  /* Tamaño del scroll */
  .chat::-webkit-scrollbar {
    width: 8px;
  }

  /* Estilos barra (thumb) de scroll */
  .chat::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

    .chat::-webkit-scrollbar-thumb:active {
      background-color: #999999;
    }

    .chat::-webkit-scrollbar-thumb:hover {
      background: #b3b3b3;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

  /* Estilos track de scroll */
  .chat::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

    .chat::-webkit-scrollbar-track:hover,
    .chat::-webkit-scrollbar-track:active {
      background: #d4d4d4;
    }
