textarea {
  display: block;
  height: 38px;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 8px;
}
textarea::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
textarea::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
textarea::-webkit-scrollbar-track:hover,
textarea::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.chat {
  height: 200px;
  overflow: hidden;
  padding-right: 15px !important;
  white-space: pre-line;
  background-color: #fff;
}

.chat:hover {
  overflow-y: scroll;
  padding-right: 8px !important;
}
.chat p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Tamaño del scroll */
.chat::-webkit-scrollbar {
  width: 8px;
}

/* Estilos barra (thumb) de scroll */
.chat::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.chat::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.chat::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.chat::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.chat::-webkit-scrollbar-track:hover,
.chat::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
